log.*
*.lammpstrj
data.*
*.dat
*.table
*.molecule
.DS_Store
*.pyc
*.csv
my_env
logs/press_50_spacing10_seed200.dat
/data/archive/
# !/data/*
*.out
*.restart
*.gt
.vscode/
anaconda_projects/
restart.*
*.bin
*.txt
*.log
*.err
*.data
*.zip